/*reset everything from =>http://html5doctor.com/html-5-reset-stylesheet/*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





















/*OUR CODE ================>*/
body {
	background-color: #454545;
}

a {
	text-decoration: none;
}


/*Header bar styling*/
.header-bar {
	margin: 0 auto;
	width: 1850px;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: green;
}

header nav ul {
	float: left;
}

header nav ul li {
	float: left;
	list-style: none;
}

header nav ul li a {
	font-family: arial;
	font-size: 18px;
	color: black;
	line-height: 63px;
}

header nav ul li a:hover {
	color: #ccc;
}

header .login-div {
	float: right;
}

header .login-div form {
	float: left;
	padding-top: 15px;
}

header .login-div form input {
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	background-color: whitesmoke;
	font-family: arial;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .login-div form button {
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	background-color: green;
	font-family: arial;
	font-size: 14px;
	color: black;
	line-height: 30px;
	cursor: pointer;
}

header .login-div form button:hover {
	color: #ccc;
}

header .login-div a {
	display: block;
	width: 60px;
	height: 60px;
	border: none;
	float: left;
	background-color: green;
	font-family: arial;
	font-size: 14px;
	color: black;
	line-height: 63px;
	cursor: pointer;
}

header .login-div a:hover {
	color: #ccc;
} 


/*Header for each page*/
.header-container {
	padding-top: 40px;
}

.header-container h2 {
	font-family: arial;
	text-decoration: none;
	font-size: 50px;
	color: green;
	line-height: 50px;
	text-align: center;
}


/*styling for Sign-up*/
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input {
	width: 90%;
	height: 4 0px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: whitesmoke;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.signup-form button {
	display: block;
	width: 30%;
	height: 30px;
	margin: 0 auto;
	border: none;
	background-color: grey;
	font-family: arial;
	font-size: 14px;
	color: whitesmoke;
	line-height: 30px;
	cursor: pointer;
}

.signup-form button:hover {
	background-color: green;
	color: black;
}
.landing {
  box-sizing: border-box;
  color: white;
  text-align: right;
  float: left;
  width: 50%;
  padding: 5px;
  content: "";
  clear: both;
  display: table;
}


/*table styles*/
.table-contents {
	margin-left: auto;
	margin-right: auto;
}

.tbl-div {
	height: 450px;
	width: 60%;
	border: 20px black;
}

.tbl-p {
	position: absolute;
	text-align: center;
	width: 400px;
	color: black;
	padding-top: 220px;
	font-family: Arial;
}

.table-contents button {
	position: absolute;
	margin-top: 310px;
	margin-right: 40px;
	font-size: 15px;
	width: 40px;
	height: 20px;
	color: gray;
	background-color: whitesmoke;
	border: none;
	float: right;
}

.tbl-h1 {
	font-size: 30px;
	color: yellow;
	text-align: center;
	text-decoration: underline;
	font-family: Arial;
}

.tbl-price {
	width: 400px;
	position: absolute;
	height: 50px;
	padding-top: 310px;
	color: darkgreen;
	text-decoration: underline;
	font-size: 20px;
}

.tbl-price h2 {
	width: 400px;
}

.tbl-price h2:hover {
	color: red;
	text-decoration: underline;
	text-decoration-color: red;
}

.tbl-div a button {
	position: relative;
	margin-top: 310px;
	margin-right: 40px;
	font-size: 15px;
	width: 100px;
	height: 40px;
	color: green;
	background-color: whitesmoke;
	border: none;
	float: right;
}

.tbl-div a button:hover {
	color: black;
	background-color: green;
	cursor: pointer;
}

.tbl-price image:hover {
	width: 600px;
	height: 300px;
}

.tbl-img {
	width: 400px;
	height: 200px;
	padding-top: 3px;
	position: absolute;
}

.else-h1 {
	margin-top: 30px;
	margin-left: auto;
	color: green;
	text-decoration: underline;
	margin-right: auto;
	text-align: center;
	font-size: 50px;
	font-family: Arial;
	font-style: italic;
}

/*catagories styles*/
.cat-sativa {
	font-family: arial;
	font-size: 30px;
	color: black;
	line-height: 63px;
	border: 1px black;
}

.cat-sativa h1 {
	padding-top: 40px;
	font-family: arial;
	text-decoration: underline;
	font-size: 40px;
	color: green;
	line-height: 50px;
	text-align: center;
}

.cat-sativa a {
	margin-left: 200px;
	color: darkgrey;
}

.cat-sativa a:hover {
	color: lightgreen;
	text-decoration: underline;
	cursor: pointer;
}
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
 
.active, .collapsible:hover {
	background-color: #555;
}
  
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}


/*products styling*/
.product-div { /*styling for the div*/
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.product-div h1 { /*styling for the heading*/
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	color: green;
}

.product-div img { /*styling for the image*/
	position: absolute;
	width: 600px;
	height: 600px;
	padding-top: 10px;
	padding-left: 625px;
	padding-right: 575px;
}

.pr-desc-p { /*styling for the description*/

}

.pr-price-p { /*styling for the price*/

}

.product-div input { /*styling for the scroll-int input*/

}
.smallpics {
	width: 50%;
	height: 1500px;
	left: 29%;
	top: 30%;
	position: absolute;
	border: 1em solid black;
}
.pics {
	width: 98.5%;
	height: 700px;
	position: absolute;
	border: 1em solid black;


/*Basket*/
.basket {
	float: right;
	width: 200px;
	height: 100px;
	background-color: lightgreen;
	color: black;
	border: 2px solid lightgreen;
}

.basket a {
	color: purple;
	background-color: lightgreen;
	margin-left: 27px;
	margin-top: 8px;
	font-size: 17px;
	text-decoration: underline;
	text-align: center;
}

.basket a:hover {
	color: #454545;
	background-color: green;
	cursor: pointer;
}

.basket h1 {
	text-align: center;
	font-size: 20px;
	color: black;
	text-decoration: underline;
}

.basket-items {
	text-align: center;
	padding-top: 4px;
}

.basket-cost {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 13px;
}

.cart-header {
	font-family: arial;
	padding-top: 40px;
	text-decoration: underline;
	font-size: 40px;
	color: green;
	line-height: 50px;
	text-align: center;
}