/*dropmenu*/
.dropmenu {
	position: relative;
	display: inline-block;
}
.dropbtn {
	background-color: #4caf50;
	color: green;
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropcontnt {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropcontnt a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropcontnt:hover a:hover {background-color: #ddd}
.dropmenu:hover .dropcontnt{display: block}
.dropmenu:hover .dropbtn {background-color: #3e8e41}

/*other*/